IJA/Uloha1/.vs/
IJA/Uloha1/JUnit.sh
IJA/Uloha1/build/
IJA/Uloha1/doc/
IJA/Uloha1/lib/
IJA/xvrabl05.zip
IPK/Projekt1/.vscode/
IPK/Projekt1/hinfosvc
IPK/Projekt1/xvrabl05.zip
IPP/Testyoptions
IPP/delta.xml
IPP/ipp-2022-tests/
IPP/is_it_ok.sh
IPP/is_it_ok/
IPP/jexamxml/
IPP/parse.out
IPP/parse.out.log
IPP/xvrabl05.tgz
IVS/Projekt1/assignment/CMakeLists.txt
IVS/Projekt1/assignment/CMakeLists.txt.in
IVS/Projekt1/assignment/CodeCoverage.cmake
IVS/Projekt1/assignment/GoogleTest.cmake
IVS/Projekt1/assignment/build/
IVS/Projekt1/assignment/libs/
IVS/Projekt1/assignment/tdd_code.h
IVS/Projekt1/assignment/tdd_tests.cpp
IVS/Projekt1/assignment/white_box_code.cpp
IVS/Projekt1/assignment/white_box_code.h
IVS/Projekt1/xvrabl05.zip
IJA/Uloha2.xlsx
IJA/Uloha2_template.xlsx
IJA/requirements-template.pdf
IJA/xvrabl05.pdf
