IJA/Uloha1/.vs/
IJA/xvrabl05.zip
IPK/Projekt1/.vscode/
IPK/Projekt1/hinfosvc
IPK/Projekt1/xvrabl05.zip
IPP/Testyoptions
IPP/delta.xml
IPP/ipp-2022-tests/
IPP/parse.out
IPP/parse.out.log
IPP/xvrabl05.tgz
ISJ/isj_proj3_xvrabl05.py
IVS/Projekt1/assignment/CMakeLists.txt
IVS/Projekt1/assignment/CMakeLists.txt.in
IVS/Projekt1/assignment/CodeCoverage.cmake
IVS/Projekt1/assignment/GoogleTest.cmake
IVS/Projekt1/assignment/build/
IVS/Projekt1/assignment/libs/
IVS/Projekt1/assignment/tdd_code.h
IVS/Projekt1/assignment/tdd_tests.cpp
IVS/Projekt1/assignment/white_box_code.cpp
IVS/Projekt1/assignment/white_box_code.h
IVS/Projekt1/ivs_project_1_2022.zip
IVS/Projekt1/xvrabl05.zip
